@import 'bower_components/bootswatch/readable/variables';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bower_components/bootswatch/readable/bootswatch';
@import 'bower_components/codemirror/lib/codemirror';
@import 'bower_components/codemirror/theme/neat';

$font-size-base: 1.0em;
$primary-color:  #333;

body {
	color: $primary-color;
	padding: 0 20px;
}

div, p, span {
	font-size: $font-size-base;
}

.result {
	background-image: linear-gradient(0deg, #D7E0F4, #D6D6D6);

	@media (min-width: $screen-md-min) {
		position: fixed;
		top: 0;
		right: 0;
		padding-top: 20px;
		height: 100%;
	}
}
